/* {
    border: 1px solid black;
}
*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #000000;
    border-bottom: 5px solid #FF0000;
}

#header a {
    color: white;
    text-decoration: none;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header li {
    display: inline;
    padding: 0 20px;
}

#main {

    min-height: 600px;
    background: url("images/banner.jpg") no-repeat;
    text-align: center;
    color: white;
    background-position: center;
    background-size: 1300px;
    font-family: "lobster" "satisfy";  
    filter: grayscale(60%);  
}
#main h1 {
    font-size: 80px;
    margin: 100px 0 10px;
    font-weight: bold;
}
#main p {
    font-size: 40px;
    font-weight: bold;
}

#spancolor {
    color: #FF0000 ;
}

#spancolor2 {
    color:white;
}

#title {
    font-family: "lobster" "satisfy";
}
#about {
    background-color: black;
    border-bottom: 5px solid;
}
.container2 P {
    color: white;
}
.container2 h2 {
    color: red;
    text-align: center;
}
#contact {
    background-color: black;
    border-bottom: 5px solid;
}
.container3 P {
    color: white;
}
.container3 h2 {
    color: red;
    text-align: center;
}